{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.85cf40d3-1c20-4ab6-b82c-7b124d6c9051",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.ca30706b-a06a-47d1-a696-2f92d8b71e96",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}