{
  "pid": "bw.application.CustomerInfo.application_1.0",
  "properties": {
    ".type.\/\/CustomerInfo\/\/BW.HOST.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/\/Destination\/ExceptionQueue": {
      "name": "\/\/PrjPattern\/\/\/Destination\/ExceptionQueue",
      "value": "esbexc.q",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.HOST.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/\/JMSConnection\/passWord": {
      "name": "\/\/PrjPattern\/\/\/JMSConnection\/passWord",
      "value": "#!udoy19jftK2\/X4EVJNJWbw==",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.MODULE.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/\/Destination\/LogQueue": {
      "name": ".type.\/\/PrjPattern\/\/\/Destination\/LogQueue",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/JMSConnection\/password": {
      "name": ".type.\/\/CustomerInfo\/\/\/JMSConnection\/password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/ServicePort": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/ServicePort",
      "value": "9777",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/\/Destination\/ExceptionQueue": {
      "name": ".type.\/\/PrjPattern\/\/\/Destination\/ExceptionQueue",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceURL": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceVersion": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceVersion",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "CustomerInfo.application",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/ServiceName": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/ServiceName",
      "value": "CustInfo",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/\/JMSConnection\/userName": {
      "name": "\/\/PrjPattern\/\/\/JMSConnection\/userName",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.DOMAIN.NAME": {
      "name": "\/\/PrjPattern\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/OperationName": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/OperationName",
      "value": "GetCustInfo",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/PrjPattern\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "CustomerInfo.application",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/DataObjects\/\/BW.MODULE.NAME": {
      "name": "\/\/DataObjects\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceName": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/JMSConnection\/username": {
      "name": ".type.\/\/CustomerInfo\/\/\/JMSConnection\/username",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/JMSConnection\/url": {
      "name": ".type.\/\/CustomerInfo\/\/\/JMSConnection\/url",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/DataObjects\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.HOST.NAME": {
      "name": "\/\/PrjPattern\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/CustomerInfo\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/ServiceQueueName": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/ServiceQueueName",
      "value": "bidv.getcustinfo",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.APPNODE.NAME": {
      "name": "\/\/DataObjects\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.APPNODE.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.HOST.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.CustomerInfo.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServicePort": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServicePort",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.MODULE.VERSION": {
      "name": "\/\/PrjPattern\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/DataObjects\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/DataObjects\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.HOST.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/\/JMSConnection\/url": {
      "name": "\/\/PrjPattern\/\/\/JMSConnection\/url",
      "value": "tibjmsnaming:\/\/localhost:7222",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.APPNODE.NAME": {
      "name": "\/\/PrjPattern\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.MODULE.VERSION": {
      "name": "\/\/CustomerInfo\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/ServiceURL": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/ServiceURL",
      "value": "192.168.0.129",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/JMSConnection\/url": {
      "name": "\/\/CustomerInfo\/\/\/JMSConnection\/url",
      "value": "tcp:\/\/localhost:7222",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceQueueName": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/ServiceQueueName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/DataObjects\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.APPSPACE.NAME": {
      "name": "\/\/PrjPattern\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/\/JMSConnection\/passWord": {
      "name": ".type.\/\/PrjPattern\/\/\/JMSConnection\/passWord",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.DOMAIN.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/JMSConnection\/password": {
      "name": "\/\/CustomerInfo\/\/\/JMSConnection\/password",
      "value": "#!CbPwxhquWsZXwtlsFCGXOg==",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/CustInfo\/ServiceVersion": {
      "name": "\/\/CustomerInfo\/\/\/CustInfo\/ServiceVersion",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/CustomerInfo\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/PrjPattern\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/CustomerInfo\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CustomerInfo\/\/\/CustInfo\/OperationName": {
      "name": ".type.\/\/CustomerInfo\/\/\/CustInfo\/OperationName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.APPSPACE.NAME": {
      "name": "\/\/DataObjects\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/\/Destination\/LogQueue": {
      "name": "\/\/PrjPattern\/\/\/Destination\/LogQueue",
      "value": "esblog.q",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.DOMAIN.NAME": {
      "name": "\/\/DataObjects\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/\/JMSConnection\/url": {
      "name": ".type.\/\/PrjPattern\/\/\/JMSConnection\/url",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/\/JMSConnection\/username": {
      "name": "\/\/CustomerInfo\/\/\/JMSConnection\/username",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/\/JMSConnection\/userName": {
      "name": ".type.\/\/PrjPattern\/\/\/JMSConnection\/userName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CustomerInfo\/\/BW.APPSPACE.NAME": {
      "name": "\/\/CustomerInfo\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PrjPattern\/\/BW.MODULE.NAME": {
      "name": "\/\/PrjPattern\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.HOST.NAME": {
      "name": "\/\/DataObjects\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/DataObjects\/\/BW.MODULE.VERSION": {
      "name": "\/\/DataObjects\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PrjPattern\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/PrjPattern\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}