{
  "pid": "bw.application.JWT.Test_1.0",
  "properties": {
    ".type.\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/JWT.Validate.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.MODULE.NAME": {
      "name": "\/\/JWT.Validate.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/\/HTTPConn\/Host": {
      "name": ".type.\/\/JWT.Test.module\/\/\/HTTPConn\/Host",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Validate.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/JWT.Test.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/\/HTTPConn\/Port": {
      "name": "\/\/JWT.Test.module\/\/\/HTTPConn\/Port",
      "value": "8123",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "JWT.Test",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Validate.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/JWT.Validate.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "JWT.Test",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Validate.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/\/HTTPConn\/Port": {
      "name": ".type.\/\/JWT.Test.module\/\/\/HTTPConn\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/JWT.Test.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.HOST.NAME": {
      "name": "\/\/JWT.Validate.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.HOST.NAME": {
      "name": "\/\/JWT.Test.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/\/HTTPConn\/Host": {
      "name": "\/\/JWT.Test.module\/\/\/HTTPConn\/Host",
      "value": "192.168.0.129",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.JWT.Test_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Validate.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/JWT.Test.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/JWT.Test.module\/\/BW.MODULE.NAME": {
      "name": "\/\/JWT.Test.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/JWT.Validate.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/JWT.Test.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/JWT.Test.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}