{
  "pid": "com.tibco.bw.stat.appnode.07687519-e306-47dc-90c7-04ea792006ae",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.07687519-e306-47dc-90c7-04ea792006ae",
      "type": "java.lang.String"
    }
  }
}