{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.07687519-e306-47dc-90c7-04ea792006ae",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}