{
  "pid": "com.tibco.bw.stat.appnode.7e293ff3-24df-4cf9-a39f-dfa6821303ad",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.7e293ff3-24df-4cf9-a39f-dfa6821303ad",
      "type": "java.lang.String"
    }
  }
}